<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>邮件营销系统</title>
  <link rel="stylesheet" type="text/css" href="/Public/Css/public.css?v1.0" />
  <script type="text/javascript" src="/Public/Js/jquery.js?v1.7.1"></script>
  <script type="text/javascript" src="/public/string?v1.0"></script>
  <script type="text/javascript" src="/Public/Js/jquery.validate.js?v1.11.1"></script>
  <script type="text/javascript" src="/Public/Js/formcheck.js?v1.0"></script>
  <script type="text/javascript" src="/Public/Js/common.js?v1.0"></script>
</head>
<body id="admin">
	<div id="Tasks_tasklist">
	<!-- 头部 -->
		<div id="header">
			<div id="logo">
				<a href="/index/index/"><img src="/Public/Images/slogo.png" alt="logo"></a>
			</div>

			<div id="headright">
			

        <ul id="headlink">
          <li><a href="/senders/senderadd" class="addpeople">发件人添加</a></li>
          <li><a href="/themes/themeadd" class="addtheme">模板添加</a></li>
          <li><a href="/tasks/taskadd" class="sendnew">任务添加</a></li>

        </ul>
			</div>
		</div>
	<!-- 主体 -->
	<div id="center">
	<!-- 左边栏 -->
	<div id="leftbar">
		<ul class="Tasks">
			<li class="tit"><a>任务管理</a></li>
			<li>
				<ul>
				<li><a href="/tasks/tasklist">任务列表</a></li><li><a href="/tasks/taskadd">任务添加</a></li>				</ul>
			</li>
		</ul>
        
        
        <ul class="Senders">
			<li class="tit"><a>发件人管理</a></li>
			<li>
				<ul>
				<li><a href="/senders/senderlist">发件人列表</a></li>
                <li><a href="/senders/sendergroup">发件人组</a></li><li><a href="/senders/senderadd">发件人添加</a></li>				</ul>
			</li>
		</ul>
      
          <ul class="Senders">
			<li class="tit"><a>收件箱管理</a></li>
			<li>
				<ul>
				<li><a href="/accounts/accountlist">收件人列表</a></li><li><a href="/accounts/accountgroup">收件人组</a></li><li><a href="/accounts/accountadd">收件人添加</a></li>				</ul>
			</li>
		</ul>
        
      <ul class="Themes">
			<li class="tit"><a>模板管理</a></li>
			<li>
				<ul>
				<li><a href="/themes/themelist">模板列表</a></li><li><a href="/themes/themeadd">模板添加</a></li>	<li><a href="/themes/yuminglist">域名库管理</a></li>				</ul>
			</li>
		</ul>
        
            <ul class="Themes">
			<li class="tit"><a>营销统计</a></li>
			<li>
				<ul>
				<li><a href="/tongji/lists/">整体分析</a></li><li><a href="/tongji/visitor/">流量趋势</a></li>				</ul>
			</li>
		</ul>
        
        </div>
	<!-- 核心模块 -->
		<div id="rightbar">
		<h1>模板添加</h1>
		
		<!-- 帮助信息 -->
				<div class="alert alert-info">
				    <button class="close" data-dismiss="alert">×</button>
				    <strong>帮助!</strong>
					<ol>
	
            <li>可以使用的模板变量:,
            <span class="red">%recipient_email%</span> 收件人邮箱,
            <span class="red">%recipient_name%</span> 收件人全称
            <span class="red">%recipient_lname%</span> 收信人名字,
            <span class="red">%unsubscribe_url%</span> 发件人邮箱,
            </li>
            <li>随机变量:<span class="red">%rand_1%</span></li>
            <li>随机字母:<span class="red">%rand_a%</span></li>
             <li>随机域名:<span class="red">%rand_yuming%</span></li>
             <li>获取发送标题id:<span class="red">%send_title_id%</span></li>
             <li>获取发送模板id:<span class="red">%send_moban_id%</span></li>
              <li>获取当前时间:<span class="red">%send_date%</span></li>
              <li>模板标题每行一个</li>
            <li>如果你是发送到mailgun的列表，请使用下面的标签</li>
        	</ol>
				</div>
		
<div class="box">
  <p class="boxtitle">
    <img alt="tag" src="/Public/Images/tag.png">模板添加  </p>
  <div class="boxitem">
        <form action="/themes/themeadd/save" method="post" id="themeform">
            <dl>
                <dt>模板名称</dt>
                <dd><input type="text" name="title" size="25">
                    <span class="red">*</span>
                </dd>
                <br class="cb">

             
                </dd>
                 <br class="cb">

                <dt>模板标题</dt>
                <dd>
                <textarea name="theme_title" id="theme_title" cols="100" rows="20"></textarea>
                
                
                </dd>


                <br class="cb">

                <dt>模板内容</dt>
                <dd>
                <textarea name="content" id="theme_content" cols="100" rows="20"></textarea>
                
                
                </dd>

                <dt>&nbsp;</dt>
                <dd><input type="submit" value="提交" name="submit"></dd>
            </dl>
			</form>
        <br class="cb">
  </div>
</div>
				<br>
        <div class="loadingwrapper"><span class="loading"></span></div>
	</div>
    
    
 



<link rel="stylesheet" type="text/css" href="/Public/Css/colorbox.css?v1.3" />
<script type="text/javascript" src="/Public/Js/colorbox.js?v1.3.19.3"></script>
<script type="text/javascript" src="/Public/Js/jquery.zxxbox.min.js?v4.0"></script>
<script type="text/javascript" src="/Public/Js/lhgcore.min.js?v1.4.5"></script>
<script type="text/javascript" src="/Public/Js/lhgcalendar.min.js?v2.0.3"></script>
<script type="text/javascript">
$(function(){
    $(".preview").colorbox({width:"850px",scrolling:false});
    J('#schedule_time').calendar({format:'yyyy-MM-dd HH:mm:ss'});
})
var delurl='/tasks/taskdel';
var tasktesturl='/tasks/tasktest';
var tasksendurl='/tasks/tasksend';
</script>

				<br />
        <div class="loadingwrapper"><span class="loading"></span></div>
	</div>
		<!-- 底部 -->
		</div>
		<div id="footer">
			2016 &copy;
			Email: <a href="mailto:248278242@qq.com">248278242@qq.com</a>
		</div>
	</div>
</body>
</html>