<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>邮件营销系统</title>
  <link rel="stylesheet" type="text/css" href="/Public/Css/public.css?v1.0" />
  <script type="text/javascript" src="/Public/Js/jquery.js?v1.7.1"></script>
  <script type="text/javascript" src="/public/string?v1.0"></script>
  <script type="text/javascript" src="/Public/Js/jquery.validate.js?v1.11.1"></script>
  <script type="text/javascript" src="/Public/Js/formcheck.js?v1.0"></script>
  <script type="text/javascript" src="/Public/Js/common.js?v1.0"></script>
  <script type="text/javascript" src="/Public/Js/laydate.js"></script>

</head>
<body id="admin">
	<div id="Tasks_tasklist">
	<!-- 头部 -->
		<div id="header">
			<div id="logo">
				<a href="/index/index/"><img src="/Public/Images/slogo.png" alt="logo"></a>
			</div>

			<div id="headright">
			

        <ul id="headlink">
          <li><a href="/senders/senderadd" class="addpeople">发件人添加</a></li>
          <li><a href="/themes/themeadd" class="addtheme">模板添加</a></li>
          <li><a href="/tasks/taskadd" class="sendnew">任务添加</a></li>

        </ul>
			</div>
		</div>
	<!-- 主体 -->
	<div id="center">
	<!-- 左边栏 -->
	<div id="leftbar">
		<ul class="Tasks">
			<li class="tit"><a>任务管理</a></li>
			<li>
				<ul>
				<li><a href="/tasks/tasklist">任务列表</a></li><li><a href="/tasks/taskadd">任务添加</a></li>				</ul>
			</li>
		</ul>
        
        
        <ul class="Senders">
			<li class="tit"><a>发件人管理</a></li>
			<li>
				<ul>
				<li><a href="/senders/senderlist">发件人列表</a></li>
                <li><a href="/senders/sendergroup">发件人组</a></li><li><a href="/senders/senderadd">发件人添加</a></li>				</ul>
			</li>
		</ul>
      
          <ul class="Senders">
			<li class="tit"><a>收件箱管理</a></li>
			<li>
				<ul>
				<li><a href="/accounts/accountlist">收件人列表</a></li><li><a href="/accounts/accountgroup">收件人组</a></li><li><a href="/accounts/accountadd">收件人添加</a></li>				</ul>
			</li>
		</ul>
      <ul class="Themes">
			<li class="tit"><a>模板管理</a></li>
			<li>
				<ul>
				<li><a href="/themes/themelist">模板列表</a></li><li><a href="/themes/themeadd">模板添加</a></li>	<li><a href="/themes/yuminglist">域名库管理</a></li>				</ul>
			</li>
		</ul>
        
            <ul class="Themes">
			<li class="tit"><a>营销统计</a></li>
			<li>
				<ul>
				<li><a href="/tongji/lists/">整体分析</a></li><li><a href="/tongji/visitor/">流量趋势</a></li>				</ul>
			</li>
		</ul>
        
        </div>
	<!-- 核心模块 -->
<div id="rightbar">
		<h1>邮件打开列表</h1>
		
	<div class="selectdate mt15">
	<div class="selectdate_left">
	<ul>
		<li><a href="/tongji/lists/chart/" target="_blank">24小时统计浏览</a></li>
		&nbsp;
		<li><a href="/tongji/lists/index/action/1/" target="_blank">点击到站</a></li>	
		<li><a href="/tongji/lists/index/action/2/" target="_blank">订阅</a></li>	
		<li><a href="/tongji/lists/index/action/3/" target="_blank">退订</a></li>
	</ul>
	</div>
	<div class="selectdate_right" style="margin-right:70px;">
		<form id="form1" name="form1" method="get" action="/tongji/lists/index/">
             <input name="date" type="text" id="date" value="" size="10" maxlength="10" class="inp01">
             <input type="button" name="Submit" value="分析" onclick="javascript:form1.submit()" class="but_search">
		</form>
	<ul>
		<li><a href="/tongji/daochu/index/action/1/">导出有效邮箱</a></li>
		<li><a href="/tongji/daochu/index/action/3/">导出退订邮箱</a></li>
	</ul>
	</div>
	<script>
;!function(){
laydate.skin('molv');
laydate({
    elem: '#date', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
    event: 'focus' //响应事件。如果没有传入event，则按照默认的click
    
});
}();
</script>
</div>

		
<div class="box">
  <p class="boxtitle">
    <img alt="tag" src="/Public/Images/tag.png">邮件打开列表  </p>
  <div class="boxitem">
  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>ip</th>
      <th>系统/浏览器</th>
      <th>模板/标题</th>
      <th>发送时间</th>
      <th>打开时间</th>
      <th>发件人Email</th>
      <th>收件人Email</th>
       <th>操作</th>
    </tr>
    </thead>
    <tbody>
    
     {foreach name="data" id="val" key="key" empty="empty"}
    <tr>
      <td width="8%" class="inputmodify" primarykey="5">{$val.id}</td>
      <td width="10%" class="inputmodify"  primarykey="5">{$val.ip}</td>
      <td width="10%" class="inputmodify"  primarykey="5">{$val.xitong}/{$val.liulanqi}</td>
      <td width="5%" class="inputmodify"  primarykey="5" >{$val.moban}/{$val.title}</td>
      <td width="15%" class="inputmodify"  primarykey="5" >{$val.time}</td>
      <td width="15%" class="inputmodify"  primarykey="5" >{$val.clicktime}</td>
      <td width="20%" class="inputmodify"  primarykey="5" >{$val.fasong_email}</td>
      <td width="20%" class="inputmodify"  primarykey="5" >{$val.jieshou_email}</td>
      <td width="20%" class="inputmodify"  primarykey="5" >{$val.action}</td>
    </tr>
      {/foreach}
    </tbody>
</table>
  </div>
</div>

<div id="senderverifybox">
    <div class="boxitem">
         <dl>
            <dt>账户名称</dt>
            <dd><select name="account_id" id="account_id"><option value="3">13123123123123123123123</option><option value="5">3123123123</option></select></dd>
            <br class="cb">

            <dt>发件人邮箱</dt>
            <dd><input type="text" value="" size="45" name="sender_email" id="input_sender_email" class="readonly" readonly></dd>
            <br class="cb">

            <dt>&nbsp;</dt>
            <dd>
                <input type="submit" value="提交" id="senderverifysubmit">
                <span id="senderverifyresult"></span>
            </dd>
         </dl>
         <br class="cb">
    </div>
</div>

<div class="pagelink">
          {$page}   
</div>
	</div>
    
    
 



<link rel="stylesheet" type="text/css" href="/Public/Css/colorbox.css?v1.3" />
<script type="text/javascript" src="/Public/Js/colorbox.js?v1.3.19.3"></script>
<script type="text/javascript" src="/Public/Js/jquery.zxxbox.min.js?v4.0"></script>
<script type="text/javascript" src="/Public/Js/lhgcore.min.js?v1.4.5"></script>
<script type="text/javascript" src="/Public/Js/lhgcalendar.min.js?v2.0.3"></script>
<script type="text/javascript">
$(function(){
    $(".preview").colorbox({width:"850px",scrolling:false});
    J('#schedule_time').calendar({format:'yyyy-MM-dd HH:mm:ss'});
})
var delurl='/tasks/taskdel';
var tasktesturl='/tasks/tasktest';
var tasksendurl='/tasks/tasksend';
</script>

				<br />
        <div class="loadingwrapper"><span class="loading"></span></div>
	</div>
		<!-- 底部 -->
		</div>
		<div id="footer">
			2016 &copy;
			Email: <a href="mailto:248278242@qq.com">248278242@qq.com</a>
		</div>
	</div>
</body>
</html>